body{
    background-color: palevioletred;
    margin: 20px;
}
aside#sidebar{
float: right;
margin-top: 50px;
width: 30%;
color: aliceblue;
}
section#main{
    float: left;
    width: 45%;
    margin: 50px;
}
header{
    color: white;
    font-style: oblique;
}
form{
    }