body{
    background-color: aqua;
    font-size: 12px;
    display: inline;
    
    
}
.heading{
    background-color: aliceblue;
    padding: 20px;
    min-height: 50px;
    border-bottom: 3px black solid;
    text-align: center;
}
.table {
   margin-left: 20%;  
    min-height: 20px;
    
}
.h{
    text-align: center;
}