body{
    background-color: aqua;
    font-size: 12px;
    display: inline;
    
    
}
.heading{
    background-color: aliceblue;
    padding: 20px;
    min-height: 50px;
    border-bottom: 3px black solid;
    text-align: center;
}
.navigation_bar{
    font-size: 15px;
   
}    
ul{
    margin: 12px;
}
.products{
   text-align: center;
}
.table{
    table-layout: fixed; 
    margin-left: 570px;
    min-height: 20px;
}
    @media only screen and (max-width:600px){
        
    }
.footer{
    text-align: center;
    font-size: 30px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}    


















