body{
    background-color: aqua;
    font-size: 12px;
    display: block;
}
.heading{
    background-color: aliceblue;
    padding: 20px;
    min-height: 50px;
    border-bottom: 3px black solid;
    text-align: center;
}
.navigation_bar{
    font-size: 15px;
}    