body{
    background-color: aquamarine;
    font-size: 20px;
    text-align: center;
    display: block;
}
input[type=text],[type=password]{
    width: 500px;
    box-lines: 3px; 
    padding: 20px 20px;
   
}
.form{
    font: bold;
    font-size: 20px;
    background-image: url(../Images/store2.jpg);
    border-bottom: brown 4px solid;
     
}
.head{
    background-color: aliceblue;
    color: black;
    min-height: 12px;
    border-bottom: brown 4px solid;
}
input[type=button]{
    color: black;
    background-color: green;
}