body{
    text-align: center;
    margin-top: 20px;
    font: bold;
    background-color: aqua;
    max-width: 500px;
    margin-left: 400px;
}
input[type=text]{
    width: 300px;
    padding: 10px 10px;
}
input[type=button]{
    background-color: green;
   
}
.signup{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: palevioletred;
  max-width: 700px;
  align-content: center;
}
a{
    text-align: center;
}

   